.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Footer */
li,
footer {
  font-size: 13px;
  color: rgb(175, 169, 169);
  line-height: 30px;
}

b {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 14px;
}

.icon {
  word-spacing: 30px;
}

a:link {
  color: black;
}

/* India's 1 row css */
.row2 {
  margin-top: 30px;
  margin-bottom: 30px;
}